<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Node.js boilerplate</title>

    <meta name="author" content="https://github.com/AdamChrimes">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Node.js boilerplate" />

    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" type="image/png" href="/images/favicon.png">

    <link rel="stylesheet" href="/css/main.min.css">
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

</html>